<ion-header>
  <ion-toolbar color="warning">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{data.name}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <img onerror="this.src='assets/imges/img-not-found.png'" src="{{data.imgs[0]}}" style="height:200px;width:100%;" (click)="showImg(data.imgs[0])" />
  </div>
  <div style="display: flex;padding:0 5px">
    <img onerror="this.src='assets/imges/img-not-found.png'" src="{{data.imgs[1]}}" class="img" (click)="showImg(data.imgs[1])"/>
    <img onerror="this.src='assets/imges/img-not-found.png'" src="{{data.imgs[2]}}" class="img" (click)="showImg(data.imgs[2])"/>
    <img onerror="this.src='assets/imges/img-not-found.png'" src="{{data.imgs[3]}}" class="img" (click)="showImg(data.imgs[3])"/>
  </div>
  <div style="padding: 10px;">
    <u>ข้อมูล</u>
    <div style="text-indent: 20px;">{{data.title}}</div>
    <span style="color:#ffce00;" (click)="readmore()">(อ่านเพิ่มเติม)</span>
  </div>
  <div>

  </div>
  <div style="padding:10px 20px;background-color: #ffce0012;">
    <div style="padding: 10px;">
      <u>วันเวลาที่ให้บริการ</u>
      <div style="padding: 10px;">
        <div>สำหรับค่าเข้าชม: {{data.content.price_view}}</div>
        <div *ngFor="let open of data.content.open">
          {{open}}
        </div>
      </div>

    </div>
    <ion-button expand="full" (click)="goTodirection()" style="color: #000;" color="light">ขอการเดินทางสาธารณะ
    </ion-button>
  </div>

</ion-content>