<ion-header>
  <ion-toolbar color="warning">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{data.name}}</ion-title>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <img src="{{data.imgs[0]}}" style="height:200px;width:100%;" />
  </div>
  <div style="display: flex;padding:0 5px">
    <img src="{{data.imgs[1]}}" class="img" />
    <img src="{{data.imgs[2]}}" class="img" />
    <img src="{{data.imgs[3]}}" class="img" />
  </div>
  <div style="padding: 10px;">
    {{data.title}}
    <span style="color:blue;" (click)="readmore()">(อ่านเพิ่มเติม)</span>
  </div>
  <div>

  </div>
  <div style="padding:0 10px">
    <ion-button expand="full" (click)="goTodirection()">ขอการเดินทางสาธารณะ</ion-button>
  </div>

</ion-content>