.welcome-card ion-img {
  max-height: 35vh;
  overflow: hidden;
}

#map {
  height: 300px;
}
้#center {
  text-align: center;  
}

.bg-header {
  background-color: #ffce00;
}

.bg-title {
  width: 200px;
  padding: 5px;
  right: 0;
  display: inline-block;
  text-align: center;
  background-color: #ffce00a8;
}

.card-title {
  position: absolute;
  bottom: 0;
  text-align: right;
  font-size: 1.5em;
  width: 100%;
  font-weight: bold;
  color: #000;
}

.spinner svg {
  width: 100px;
  height: 100px;
  stroke: #444;
  fill: #444;
}

